body{
    font-family: "Muli", sans-serif;
    margin: 0%;
    width: 100%;
    height: auto;
    background: url("img/berg.jpg") no-repeat center top #1a3852 !important;
    background-size: cover !important;
    color: white;
}

#section1, #section2, #section3, #section4{
    display: block;
    margin: 25px;
    width: 300px;
    box-shadow: 5px 5px #343a40;
    background-color: dimgrey;
    padding-top: 150px;
}

a{
    color: white;
}

#name{
    text-align: center;
}

#nav{
    background-color: blueviolet;
    padding: 25px;
}

#container{
    margin: 0%;
}

div.white-wrapper {
    margin: 0px;
    text-align: center;
    margin: auto;
}

