body{
    margin: 0%;
    width: 100%;
    height: auto;
    background: url("img/berg.jpg") no-repeat center top #1a3852 !important;
    background-size: cover !important;
}

#section1, #section2, #section3, #section4{
    display: flex;
    margin: 25px;
    width: 300px;
    box-shadow: 5px 10px #343a40;
    background-color: dimgrey;
    padding-top: 150px;
}

#name{
    text-align: center;
}

#nav{
    background-color: blueviolet;
    padding: 25px;
}

#container{
    margin: 0%;
}